

<div>
    <input type="text" id="seasonId" style="display: none" value="{{seasonId}}"/>

    <tabset ng-init="tabs = [{title:'ABC'}]">
        <tab heading="List">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row panel-title">
                        <div class="col-md-4">Bids {{seasonId}}
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" ng-click="evaluateBids()">Evaluate</button>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered ">
                        <thead>
                        <td>ID</td>
                        <td>Employee</td>
                        <td>Asset</td>
                        <td>Checkin Date</td>
                        <td>Won</td>
                        </thead>
                        <tbody>
                        <tr ng-repeat="bid in bids" ng-class="{success: bid.won}">
                            <td>{{bid.id}}</td>
                            <td>{{bid.employee.name}}</td>
                            <td>{{bid.asset.id}}</td>
                            <td>{{bid.checkinDate | date : 'yyyy-MM-dd'}}</td>
                            <td><button class="btn btn-sm" ng-if="bid.won" ng-click="revokeBid(bid)">Revoke</button> </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </tab>
        <tab heading="Calendar">

            <label>Toggle Won</label><input type="checkbox" id="wonToggle"/>
            <div id="calendar"></div>
            <script>
                $(function() {
                    var seasonId = $('#seasonId').val();

                    $('#wonToggle').change(function() {
                        $('#calendar').fullCalendar('refetchEvents');
                    });

//                    $('#calendar').fullCalendar({
//                        eventSources: [
//
//                            {
//                                url: '/seasons/' + seasonId + '/bids/fullcalendar',
//                                type: 'GET',
//                                data: {
//                                    won: $('#wonToggle').prop('checked')
//                                }
//                            }
//
//                        ]
//
//                    });


                    $('#calendar').fullCalendar({
                        events: function(start, end, timezone, callback) {

                            $.ajax({
                                url: '/seasons/' + seasonId + '/bids/fullcalendar',
                                dataType: 'json',
                                data: {
                                    start: start.format(),
                                    end: end.format(),
                                    won: $('#wonToggle').prop('checked')
                                },
                                success: function(doc) {
                                    callback(doc);
                                }
                            });
                        }
                    });
                });
            </script>

        </tab>
    </tabset>

</div>

<!--<div ui-view="bids"/>-->

