
body {
    background-color: #123D53;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
        min-height: 480px;
        background-color: #CBDAD2;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#calendar {
    background-color: #ffffff;
    border: solid;
}
.fc-toolbar {
    maxgin:10px;padding: 10px;
}

.bid-won {
    border: solid;
    border-color: green;
    border-style: dotted;
}

.CONDO01 {
    background-color: #ffff00;
    color: #000000;
}

.CAB01 {
    background-color: lightgreen;
    color: #000000;
}

